bind-interfaces
listen-address={{ ansible_default_ipv4.address }}
local=/{{ net.domain }}/
address=/apps.{{ openshift.name }}.{{ net.domain }}/{{ ansible_default_ipv4.address }}
{% for c in groups['control'] %}
srv-host=_etcd-server-ssl._tcp.{{ openshift.name }}.{{ net.domain }},{{ c }}.{{ openshift.name }}.{{ net.domain }},2380,0,10
{% endfor %}
addn-hosts=/etc/hosts.openshift
