{{ ansible_default_ipv4.address }}  api.{{ openshift.name }}.{{ net.domain }} {{ net.domain }} api-int.{{ openshift.name }}.{{ net.domain }}
{% for b in groups['bootstrap'] %}
{{ hostvars[b].ansible_host }}   {{ b }} {{ b }}.{{ openshift.name }}.{{ net.domain }}
{% endfor %}
{% for c in groups['control'] %}
{{ hostvars[c].ansible_host }}     {{ c }} {{ c }}.{{ openshift.name }}.{{ net.domain }} etcd-{{ loop.index - 1 }}.{{ openshift.name }}.{{ net.domain }}
{% endfor %}
{% for w in groups['worker'] %}
{{ hostvars[w].ansible_host }}     {{ w }} {{ w }}.{{ openshift.name }}.{{ net.domain }}
{% endfor %}
