apiVersion: v1
baseDomain: {{ net.domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: control
  replicas: {{ groups['control'] | length }}
metadata:
  name: {{ openshift.name }}
networking:
  clusterNetworks:
  - cidr: {{ net.cluster_cidr }}
    hostPrefix: {{ net.cluster_prefx }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ net.service }}
platform:
  none: {}
pullSecret: '{{ key.pullsecret | to_json }}'
sshKey: '{{ key.sshkey}}'
