<network>
  <name>openshift</name>
  <bridge name='openshift0' stp='yes' delay='0'/>
  <forward dev='{{ ansible_default_ipv4.interface }}' mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
    <interface dev='{{ ansible_default_ipv4.interface }}'/>
  </forward>
  <ip address='{{ libvirt_nat.router }}' netmask='{{ libvirt_nat.cidr | ansible.netcommon.ipaddr('netmask') }}'>
    <dhcp>
      <range start='{{ libvirt_nat.cidr | ansible.netcommon.nthhost(2) }}' end='{{ libvirt_nat.cidr | ansible.netcommon.nthhost(-2) }}'/>
      <bootp file='http://{{ libvirt_nat.router }}:8000/ipxe/boot.ipxe'/>
{% for h in groups['openshift'] %}
      <host mac='{{ hostvars[h].spec.mac }}' ip='{{ hostvars[h].ansible_host }}' name='{{ h }}.{{ openshift.name }}.{{ net.domain }}'/>
{% endfor %}
    </dhcp>
  </ip>
</network>
